
grpcio==1.43.0
h5py==3.6.0
hist==2.6.1
jetnet==0.1.1
matplotlib==3.5.1
mplhep==0.3.23
nflows==0.14
numpy==1.21.0
pandas==1.4.2
scikit-image==0.19.2
tensorboard==2.8.0
torch==1.11.0
torch-geometric==2.0.4
pytorch-lightning==1.6.1
torchaudio==0.11.0
uproot==4.2.2
